h2 {
    color: black;
    text-align: center;
    margin-top: 300px;
}
nav {
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    padding: 10px;
}


a {
  color: black;
  margin: center;
  text-align: center;
  display: block;
  padding-left: 20px
}
/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-backface-visibility: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.5) rotate(4deg);
  transform: scale(1.4) rotate(9deg);
}
