body {
  width: 90%;
  margin: 0 auto;
}


h1 {
  background-color: #efefef;
  padding: 50px;
  border-bottom: solid #ff9926 5px;
}

p.profile {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 15px;

}
h3 {
  color: #ff9926;
}

.heading {
  border-bottom: dashed 1px;
  padding-left : 100px;
  line-height: 2px;

}
li.skills {
display: block;
}

a {
  color: black;
}

#footer {
  /*margin: auto;*/
  background-color: #efefef;
  padding: 10px;
  text-align: center;
  list-style-type: none;
}
li {
  display: inline;
  list-style-type: none;
  padding: 8px ;
}
li.nav {
  display: inline;
  list-style-type: none;
  padding: auto;
  margin: auto;
}


